<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem autem quam consequuntur atque reprehenderit veniam iure aliquam, commodi, maxime, adipisci magnam. Iusto asperiores eaque nesciunt placeat molestiae aut ipsum dolor.</p>

<%- include("footer") -%>
